generator-dancer=/home/pepper/generator-dancer CD=./ {
app/index.js
app/bower_linker.js
perlstuff={
app/templates/appname/bin/app.pl
app/templates/appname/config.yml
app/templates/appname/static/js/jquery.js
app/templates/appname/static/css/style.css
app/templates/appname/static/css/error.css
app/templates/appname/static/favicon.ico
app/templates/appname/static/404.html
app/templates/appname/static/500.html
app/templates/appname/templates/layouts/main.tt
app/templates/appname/templates/index.tt
}

./app/templates/_package.json
./app/templates/_bower.json
package.json
}
